extends layout 

block content 
    .row.justify-content-center.g-5
        .col-md-5
            .card.shadow.text-center
                .card-body
                    h5.card-title
                        i.bi.bi-people-fill.me-2 
                        | Clientes
                    p.card-text Administra los clientes registrados en el sistema.
                    div.mt-auto
                        a.btn.btn-sabor(href="/customers") Ir a CRUD Cliente
        .col-md-5
            .card.shadow.text-center
                .card-body
                    h5.card-title 
                        i.bi.bi-cart-check-fill.me-2
                        | Pedidos
                    p.card-text Gestiona los pedidos de los clientes.
                    div.mt-auto
                        a.btn.btn-sabor(href="/delivery") Ir a CRUD Pedido
        .col-md-5
            .card.shadow.text-center
                .card-body
                    h5.card-title 
                        i.bi.bi-bicycle.me-2
                        | Repartidor
                    p.card-text Gestiona los repartidores.
                    div.mt-auto
                        a.btn.btn-sabor(href="/riders") Ir a CRUD Repartidores
        .col-md-5
            .card.shadow.text-center
                .card-body
                    h5.card-title  
                        i.bi.bi-box-seam.me-2
                        | Insumos
                    p.card-text Gestiona los insumos del restaurante.
                    div.mt-auto
                        a.btn.btn-sabor(href="/supplies") Ir a CRUD Insumos
        .col-md-5
            .card.shadow.text-center
                .card-body
                    h5.card-title 
                        i.bi.bi-list-ul.me-2
                        | Menú Items
                    p.card-text Gestiona los ítems del Menú del restaurante.
                    div.mt-auto
                        a.btn.btn-sabor(href="/menuItems") Ir a CRUD Items
