extends ../layout 

block content
  h2.mb-5.text-center Gestión de Repartidores

  a.btn.btn-secondary.mb-3.ms-2(href="/") ← Volver al Menú

  if query.success
    script.
      if ('!{query.success}' === 'eliminado') {
          alert('¡Repartidor eliminado con éxito!');
      } else {
          alert('Repartidor guardado con éxito!');
      }
  if query.error
    .alert.alert-danger Error: !{query.error}

  .d-flex.flex-column.align-items-center.g-3
    a.btn.btn-crud.mb-3.w-50(href="/riders/add")
      i.bi.bi-plus-lg
      | Agregar Repartidor
    a.btn.btn-crud.mb-3.w-50(href="/riders/list")
      i.bi.bi-clipboard-data
      | Listar Repartidores
    a.btn.btn-crud.mb-3.w-50(href="/riders/list?action=edit") 
      i.bi.bi-pencil-fill
      | Editar Repartidor
    a.btn.btn-crud.mb-3.w-50(href="/riders/list?action=delete")
      i.bi.bi-trash
      | Eliminar Repartidor