extends ../layout

block content
  h2.mb-5.text-center Gestión de Insumos

  a.btn.btn-secondary.mb-3.ms-2(href="/") ← Volver al Menú

  if query.success
    script.
      if ('!{query.success}' === 'eliminado') {
          alert('¡Insumo eliminado con éxito!');
      } else {
          alert('Insumo guardado con éxito!');
      }
  if query.error
    .alert.alert-danger Error: !{query.error}

  .d-flex.flex-column.align-items-center.g-3
    a.btn.btn-crud.mb-3.w-50(href="/supplies/add")
      i.bi.bi-plus-lg
      | Agregar Insumo
    a.btn.btn-crud.mb-3.w-50(href="/supplies/list")
      i.bi.bi-clipboard-data
      | Listar Insumos
    a.btn.btn-crud.mb-3.w-50(href="/supplies/list?action=edit") 
      i.bi.bi-pencil-fill
      | Editar Insumo
    a.btn.btn-crud.mb-3.w-50(href="/supplies/list?action=delete")
      i.bi.bi-trash
      | Eliminar Insumo