extends ../layout

block content
    h2.mb-5.text-center Clientes

    
    a.btn.btn-secondary.mb-3.ms-2(href="/") ← Volver al Menú
    

    if query.success
        script.
            alert(decodeURIComponent('!{query.success}'));
    if query.error
        .alert.alert-danger Error: !{query.error}

    .d-flex.flex-column.align-items-center.g-3
        a.btn.btn-crud.mb-3.w-50(href= "/customers/add")
            i.bi.bi-plus-lg
            | Agregar Cliente
        a.btn.btn-crud.mb-3.w-50(href= "/customers/list")
            i.bi.bi-clipboard-data
            | Listar Cliente
        a.btn.btn-crud.mb-3.w-50(href= "/customers/update")  
            i.bi.bi-pencil-fill
            | Editar Cliente
        a.btn.btn-crud.mb-3.w-50(href= "/customers/delete")
            i.bi.bi-trash
            | Eliminar Cliente