extends ../layout

block content
  h2.mb-5.text-center Gestión de Pedidos

  a.btn.btn-secondary.mb-3.ms-2(href="/") ← Volver al Menú

  if query.success
    script.
      if ('!{query.success}' === 'eliminado') {
          alert('¡Pedido eliminado con éxito!');
      } else {
          alert('¡Pedido creado con éxito!');
      }
  if query.error
    .alert.alert-danger Error: !{query.error}

  .d-flex.flex-column.align-items-center.g-3
    a.btn.btn-crud.mb-3.w-50(href= "/delivery/add")
      i.bi.bi-plus-lg
      | Agregar Pedido
    a.btn.btn-crud.mb-3.w-50(href= "/delivery/list")
      i.bi.bi-clipboard-data
      | Listar Pedido
    a.btn.btn-crud.mb-3.w-50(href= "/delivery/list?action=edit") 
      i.bi.bi-pencil-fill
      | Editar Pedido
    a.btn.btn-crud.mb-3.w-50(href= "/delivery/list?action=delete")
      i.bi.bi-trash
      | Eliminar Pedido